@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Spartan", sans-serif;

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
}

body {
  background-color: lightblue;
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  position: relative;

  .top-left-section {
    grid-column: 1/7;
    grid-row: 1/3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    nav {
      position: absolute;
      width: 40%;
      height: 10rem;

      .burger-nav {
        display: none;
      }

      .large-nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding: 4rem 5rem;

        .logo {
          min-width: 12rem;
          margin-right: 3rem;
        }

        ul {
          width: 100%;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-left: 3rem;
          a {
            text-decoration: none;
            font-size: 1.5rem;
            color: white;
            padding: 0rem 2rem;
          }
        }
      }
    }
  }

  .bg_1 {
    background-image: url("../images/desktop-image-hero-1.jpg");
  }
  .bg_2 {
    background-image: url("../images/desktop-image-hero-2.jpg");
  }
  .bg_3 {
    background-image: url("../images/desktop-image-hero-3.jpg");
  }

  .top-right-section {
    grid-column: 7/11;
    grid-row: 1/3;
    background-color: white;
    padding: 5rem 8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 3.5rem;
      padding-bottom: 2rem;
    }

    p {
      font-size: 1.2rem;
      color: $darkGray;
      line-height: 160%;
    }

    .shop-btn-container {
      margin-top: 2rem;
      width: 100%;

      button {
        padding-right: 8rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        background: white;
        font-family: inherit;
        font-size: 1.3rem;
        letter-spacing: 1rem;
        font-weight: 600;

        &:hover {
          opacity: 0.5;
        }

        img {
          margin-left: 2rem;
        }
      }
    }

    .btn-container {
      bottom: 0;
      width: 10vw;
      min-height: 8rem;
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      button {
        width: 50%;
        height: 100%;
        background-color: black;
        position: absolute;
        &:hover {
          opacity: 0.75;
        }
      }
    }
    .right-btn {
      left: 50%;
    }
  }
  .bot-left-section {
    grid-column: 1/4;
    grid-row: 3/4;
    background-image: url("../images/image-about-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .bot-middle-section {
    grid-column: 4/8;
    grid-row: 3/4;
    background-color: white;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      font-weight: 700;
      padding-bottom: 2rem;
    }
    p {
      font-size: 1.2rem;
      color: $darkGray;
      line-height: 1.5;
    }
  }
  .bot-right-section {
    grid-column: 8/11;
    grid-row: 3/4;
    background-image: url("../images/image-about-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 1200px) {
  body {
    .top-right-section {
      padding: 5rem 4rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);

    .top-left-section {
      grid-column: 1;
      grid-row: 1/2;

      nav {
        margin: 0rem 4rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .burger-nav {
          position: relative;
          display: block;
          cursor: pointer;
          width: 2rem;

          span {
            padding: 0.2rem 1.5rem;
            background: white;
            margin: 0.5rem 0rem;
            display: block;
            transition: all 0.5s ease;
            transition-delay: 0.3s;
          }
        }

        .nav-links {
          z-index: 1;
          background: black;
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 100%;
          flex-direction: column;
          align-items: center;
          transition: transform 1s ease;
        }
        .nav-open {
          transform: translateX(-100%);
        }

        .toggle {
          z-index: 2;
          position: fixed;
        }
        .toggle .line1 {
          transform: rotateZ(45deg) translateY(300%);
          background: white;
        }

        .toggle .line2 {
          opacity: 0;
        }

        .toggle .line3 {
          transform: rotateZ(-45deg) translateY(-300%);
          background: white;
        }
      }
    }
    .top-right-section {
      grid-column: 1;
      grid-row: 2/3;
      padding: 2rem;

      h1 {
        font-size: 2rem;
        padding-bottom: 2rem;
      }

      .btn-container {
        top: -8rem;
        right: 0;
        bottom: initial;
        left: initial;
      }
    }

    .bot-left-section {
      grid-column: 1;
      grid-row: 3/4;
    }
    .bot-middle-section {
      grid-column: 1;
      grid-row: 4/5;
      padding: 2rem;
    }
    .bot-right-section {
      grid-column: 1;
      grid-row: 5/6;
      height: 100%;
    }
  }
}
