* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Spartan", sans-serif;
}

html button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  background-color: lightblue;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

body .top-left-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-repeat: no-repeat;
  background-size: cover;
}

body .top-left-section nav {
  width: 50rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 8rem;
}

body .top-left-section nav .logo {
  width: 12rem;
  margin-right: 3rem;
}

body .top-left-section nav ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .top-left-section nav ul li {
  font-size: 1.5rem;
  color: white;
  padding: 0rem 2rem;
}

body .bg_1 {
  background-image: url("../images/desktop-image-hero-1.jpg");
}

body .top-right-section {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-color: white;
  padding: 5rem 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .top-right-section h1 {
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

body .top-right-section p {
  font-size: 1.2rem;
  color: #a1a1a1;
  line-height: 160%;
}

body .top-right-section .shop-btn-container {
  margin-top: 2rem;
  width: 100%;
}

body .top-right-section .shop-btn-container button {
  padding-right: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: white;
  font-family: inherit;
  font-size: 1.3rem;
  letter-spacing: 1rem;
  font-weight: 600;
}

body .top-right-section .shop-btn-container button img {
  margin-left: 2rem;
}

body .top-right-section .left-btn {
  padding: 3rem 4rem;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
}

body .top-right-section .right-btn {
  padding: 3rem 4rem;
  background-color: black;
  position: absolute;
  left: 12%;
  bottom: 0;
}

body .bot-left-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url("../images/image-about-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body .bot-middle-section {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-color: white;
}

body .bot-right-section {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url("../images/image-about-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */